@import '~@src/styling/bem-mixins';

.body {
  @include modifier('horizontal') {
    display: flex;
    flex-direction: column;
  }

  @include modifier('height') {
    @include value('full') {
      min-height: 100vh;
      max-height: 100vh;
    }
  }
}

.info-wrapper {
  @include modifier('horizontal') {
    display: flex;
    justify-content: row;
    flex-grow: 1;
  }
}
