@import '~s/styling/constants';
@import '~s/styling/bem-mixins';

.maps-info-box {
    @include default() {
        min-width: 200px;
    }

    @include element('title') {
        text-align: center;
        line-height: 22px;
        max-height: 46px;
        overflow: hidden;
        max-width: 200px;
    }

    @include element('attribute') {
        @include default() {
            display: inline-block;
            width: 50%;
            min-width: 50px;
        }
    }

    @include element('value') {
        @include default() {
            display: inline-block;
            width: 50%;
            min-width: 50px;
        }
    }

    @include element('action-bar') {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include element('post-link') {
        margin-top: 10px;
    }

    @include element('link-text') {
        margin-right: 10px;
    }
}

.google-maps {
    @include default() {
        height: 100%;     
        width: 100%;
    }

    @include element('wrapper') {
        height: 400px !important;
        width: 100%;

        @include modifier('horizontal') {
            height: calc(100vh - 150px) !important;
        }

        // Ensure Leaflet container takes full height
        .leaflet-container {
            height: 100% !important;
            width: 100%;
            z-index: 1;
        }
    }
}

// Ensure popups display nicely
.leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.leaflet-popup-content {
    margin: 10px;
}

