// Common colors
// Naming from - http://chir.ag/projects/name-that-color/
$black:         #000000;
$mine-shaft:    #333333;

// Common spacing
$spacing-s:     10px;
$spacing:       20px;
$spacing-l:     30px;