// Common colors
// Naming from - http://chir.ag/projects/name-that-color/
$black: #000000;
$martinique: #333350;
$white: #ffffff;
$mercury: #e3e3e3;

// Messages
$monza: #d8000c;
$pink: #ffbaba;

// Color modification percents (lighten, darken)
$contrast-light: 10%;
$contrast-medium: 20%;
$contrast-hard: 30%;

// Transition times
$time-fast: 0.25s;
$time-regular: 0.4s;
$time-slow: 0.6s;

// Common spacing
$spacing-s: 10px;
$spacing: 20px;
$spacing-l: 30px;

// Page max width
$pageWidthMin: 600px;
$pageWidthMax: 800px;
$sidebarWidth: 350px;
